/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding-top: 50px;
    background-color: red;
}

.container {
    background-color: white;
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.box{
    padding: 50px;
    display: flex;
}
.col{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.dice{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.507);
}